



/* Start Global Rules  */

:root {
    --main-color: #0c1530;
    --secondary-color: #02050e;
    --elements-color: #1d50ff;
    --elements-bg-color: #272d37;
    --font-main-color: #fff;
    --font-secondary-color: #dfdfdf;
    --shadow-color: #ffffff61;
    --link-color: #93ff90;

    --font-bold:700;
    --font-extraBold: 800;
    --font-light: 300;
    --font-family: 'Cairo', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-color);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--font-light);
}

ul {
    list-style: none;
}

.container {
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

/* End Global Rules  */

/* start components */

.title-box {
    border: 1px solid var(--elements-color);
    width: fit-content;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: 0.5s;
    z-index: 10;
    text-transform: uppercase;
    color: var(--font-main-color);
}

.title-box::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--elements-color);
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.title-box::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--elements-color);
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.title-box:hover::before {
    animation: left-move 0.5s linear forwards;
}

.title-box:hover::after {
    animation: right-move 0.5s linear forwards;
}

.up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--elements-color);
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    user-select: none;
    cursor: pointer;
    opacity: 0;
    animation: showUpBtn 0.3s 1 forwards;
    z-index: 1000;
    transition: 0.3s;
}

.up-btn:active,
.up-btn:hover {
    background-color: gray;
}

/* End components  */

/* Start Header */
.header {
    height: 60px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
    position: relative;
    z-index: 1;
}

.header__logo a {
    font-weight:var(--font-bold) ;
    color: var(--font-main-color);
    font-size: 1.5rem;
}

.header nav {
    height: 100%;
    width: 50%;
}

.header nav > .main__nav {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.header nav .main__nav > li {
    height: 100%;
    width: 100%;
    border-radius:  0 0 10px 10px;
    transition: 0.3s;
}

.header nav .main__nav > li > a {
    color: var(--font-main-color);
    transition: 0.3s;
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header nav .main__nav > li> a::before {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    background-color: var(--elements-color);
    transition: 0.3s;
}

.header nav .main__nav > li:active,
.header nav .main__nav > li:hover {
    background-color: var(--elements-bg-color);
}

.header nav .main__nav > li > a:hover::before  {
    left: 0;
}

@media (max-width: 767px) {
    .header {
        height: 100%;
    }

    .header__content {      
        flex-flow: column nowrap;
        height: 100px;
    }

    .header nav {
        width: 100%;
    }

    .header__logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/* End Header */

/* Start mega-menu */

.mega-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: var(--elements-bg-color);
    border-bottom: 4px solid var(--elements-color);
    border-radius: 5px;
    gap: 10px;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 0px;
    transition: 0.5s;
    z-index: 1000;
    opacity: 0;
    animation: showMegaMenu 0.5s 1 forwards;
}

.mega-menu.active {
    display: grid;
}

.mega-menu > div > img {
    width: 250px;
    height: auto;
    mix-blend-mode: exclusion;
}

.sub-nav__list {
    width: 100%;
}

.sub-nav__list > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.sub-nav__list > ul > li {
    height: 100%;
    width: 100%;
    border-radius: 3px;

}

.sub-nav__list > ul > li > a {
    display: flex;
    align-items: center;
    color: var(--font-main-color);
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sub-nav__list > ul > li:not(:last-of-type) {
    border-bottom: 1px solid rgb(78, 78, 78);
}

.sub-nav__list > ul > li > a > i {
    margin-right: 10px;
}

.sub-nav__list > ul > li:hover {
    background-color: var(--elements-color);
}

@media (max-width: 767px) {
    .mega-menu {
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0px;
        gap: 0;
        top: 110px;
    }

    .mega-menu.active {
        display: flex;
    }
    
    .mega-menu div img {
        display: none;
    }

    .mega-menu .sub-nav__list {
        height: 200px;
        padding: 0px;
    
    }

    .mega-menu .sub-nav__list ul li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .mega-menu .sub-nav__list ul li:last-of-type {
        border-bottom: 1px solid rgb(78, 78, 78);
    }
}

/* End mega-menu */

/* Start Landing  */

.landing {
    position: relative;
    background-image: url(../images/body-bg04.webp);
    background-size: cover;
    background-position: left;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to top, var(--main-color), transparent);
}

.landing__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.landing__text >  h1 {
    color: var(--font-main-color);
    font-size: clamp(1rem, 8vw, 4rem);
}

.landing__text > p {
    line-height: 1.6;
    color: var(--font-secondary-color);
    max-width: 608px;
}

.landing a {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    font-size: 1.2rem;
    cursor: pointer;
    animation: arrow-animation 1.5s linear infinite;
    z-index: 10;
}

@media (max-width: 767px) {
    .landing__content {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    .landing__text {
        text-align: center;
        padding-top: 150px;
    }

    .landing a {
        display: none;
    }
}
/* End Landing  */

/* Start Articles */

.articles {
    padding-top: 100px;
    padding-bottom: 100px;
}

.articles__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 30px;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
}

.articles__card {
    box-shadow: 0px 0px 10px var(--shadow-color);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    border-radius: 5px;
    background-color: var(--elements-bg-color);
    overflow: hidden;
    transition: 0.4s;
}

.articles__card img {
    width: 100%;
    height: auto;
}

.articles__card h3 {
    padding: 10px 10px 0 10px;
    color: var(--font-main-color);
}

.articles__card p {
    color: var(--font-secondary-color);
    padding: 20px 10px;
    line-height: 1.4;
}

.articles__card .card__link > a {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--font-secondary-color);
}

.articles__card .card__link i {
    color: var(--font-main-color);
}

.articles__card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px #bababa;
}

.articles__card:hover .card__link i {
    animation: read-arrow 0.5s linear infinite;
}

/* End Articles */

/* Start games news */
.games-news {
    padding-bottom: 100px;
}

.games-news__wrapper {
    margin-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

.games-news__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff0a;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    order: 2;
    flex-grow: 1;
}

.games-news__card:nth-of-type(even) > .card__info {
    order: -1;
}

.card__info__text > h2 {
    color: var(--font-main-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

.card__info__text > p {
    line-height: 1.4;
    text-align: justify;
    color: var(--font-secondary-color);
}

.card__info__text > a {
    display: block;
    transition: 0.3s;
    margin-top: 10px;
}

.card__info__text > a:hover {
    color: gray;
}

.games-news__card > img {
    width: 100%;
    height: auto;
    border-radius: inherit;
    order: 1;
}

.games-news__card:hover {
    box-shadow: 0 0 5px var(--shadow-color);
    background-color: var(--elements-bg-color);
}

.card__info__statics {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid rgb(83, 83, 83);
}

.card__info__statics > span {
    color: var(--font-main-color);
    font-size: 1.2rem;
}

.card__info__statics i {
    color: var(--font-secondary-color);
    margin-right: 10px;
    font-size: 1.2rem;
}

.card__info__statics > span:last-of-type i {
    color: indianred;
}

@media (max-width: 767px) {
    .games-news__card {
        grid-template-columns: unset;
        grid-template-rows: auto 1fr;
    }
    
    .games-news__card:nth-of-type(even) > .card__info {
        order: 2;
    }
}
/* End games news */

/* Start vr games */
.vr-games {
    min-height: 100vh;
    background-image: url(../images/vr00.webp);
    background-position: center top;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.vr-games__bg {
    background-image: radial-gradient(transparent, var(--main-color) 90%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.vr-games::before,
.vr-games::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to top, var(--main-color), transparent);
    z-index: 2;
}

.vr-games::before {
    background-image: linear-gradient(to bottom, var(--main-color), transparent);
    bottom: unset;
    top: 0;
}

.vr-games__title {
    font-size: clamp(1rem, 10vw, 5rem);
    color: var(--font-main-color);
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    z-index: 4;
}

.vr-games__pragraph {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    background-color: #272d3778;
    padding: 18px;
    margin: 20px 0;
    border-radius: 5px;
    max-width: 70%;
    line-height: 1.5;
    z-index: 5;
    transition: 0.3s;
}

.vr-games__pragraph::first-letter {
    color: var(--elements-color);
}

.slider-wrapper {
    z-index: 5;
}

.vr-games__slider {
    width: 250px;
    height: 150px;
    z-index: 4;
}

.vr-games__slider__img {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;
    gap: 25px;
    transition: 1s;
    cursor: pointer;
}

.vr-games__slider__img > img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 1px solid transparent;
    filter: saturate(0.2);
    transition: 0.3s;
}

.vr-games__slider__img > img.active {
    transform: scale(1.1);
    border-color: var(--elements-color);
    filter: saturate(1);
    z-index: 5;
}

.vr-games__slider__btn {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    z-index: 5;
}

.vr-games__slider__btn > i {
    color: var(--font-main-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.vr-games__slider__btn > i:active {
    color: var(--secondary-color);
}


/* End vr games */

/* Start mini-games */
.mini-games {
    padding-top: 100px;
    padding-bottom: 100px;
}

.marquee-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    gap: 20px;
    position: relative;
    height: 425px;
}

.marquee-wrapper::before,
.marquee-wrapper::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background-image: linear-gradient(to right, var(--main-color), transparent);
    left: -3px;
    z-index: 10;
}

.marquee-wrapper::before {
    background-image: linear-gradient(to left, var(--main-color), transparent);
    right: -3px;
    left: unset;
}

@media (max-width: 767px) {
    .marquee-wrapper::before,
    .marquee-wrapper::after {
        display: none;
    }
}

.marquee-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    animation: marquee 13s linear infinite both;
    transition: 1s;
}

.marquee-wrapper:hover .marquee-group {
    animation-play-state: paused;
}

.mini-games__card {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    padding: 10px;
    gap: 20px;
    position: relative;
    border-radius: 10px;
    transition: 0.3s;
}


.mini-games__card::before {
    content: '';
    position: absolute;
    width: 90%;
    height: calc(100% + 40px);
    right: 0;
    top: -20px;
    border-radius: 10px;
    background-color: var(--elements-bg-color);
    box-shadow: 0 0 5px var(--shadow-color);
    z-index: -1;
}

.mini-games__card:hover {
    transform: translateY(-10px);
}

.card__upper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

.card__lower {
    padding-left: 30px;
}

.mini-games__card img {
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.mini-games__card h3 {
    text-transform: capitalize;
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    margin-bottom: 5px;
    
}

.mini-games__card p {
    color: var(--font-secondary-color);
    grid-column: 1;
    margin: 10px 0;
}

.mini-games_stars {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.mini-games__card div i {
    color: var(--font-secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.mini-games__card div i:hover {
    color: var(--font-main-color);
}

@media (max-width: 767px) {
    .marquee-group {
        position: absolute;
        left: 0;
        top: 0;
        animation: none;
        transition: none;
    }

    .marquee-group:last-of-type {
        display: none;
    }

    .marquee-wrapper::before,
    .marquee-wrapper::after{
        display: none;
    }

    .mini-games__card:hover {
        transform: unset;
    }
}

/* End mini-games */

/* Start Services */

.services__card__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.services__card {
    display: grid;
    height: 200px;
    width: 100%;
    grid-template-rows: 1fr 50px;
    row-gap: 10px;
    background-color: var(--elements-bg-color);
    align-items: center;
    position: relative;
    transition: 0.3s;
    border-radius: 5px;
}

.services__card::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: var(--elements-color);
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;

}

.services__card:hover {
    transform: translateY(-10px);
}

.services__card:hover::after {
    width: 100%;
}

.services__card div {
    text-align: center;
}

.services__card div i {
    font-size: 3rem;
    color: var(--font-main-color);

}

.services__card div p {
    text-transform: capitalize;
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    padding-top: 20px;
    
}

.services__btn {
    background-color: var(--elements-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.services__btn span:nth-of-type(1) {
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    padding-left: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.2rem;
}

.services__btn span:nth-of-type(2) {
    color: var(--font-main-color);
    padding-right: 20px;
    cursor: pointer;
}

.services__btn::before {
    content: '';
    background-color: #ccc;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    transform-origin: top left;
    transform: skew(325deg);

}

.services__btn::after {
    content: '';
    background-color: var(--main-color);
    width: 30%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform-origin: top left;
    transform: skew(325deg);

}

/* End Services */

/* Start Skills */
.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills__content {
    display: grid;
    align-items: center;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.skills__content > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.skills__content .skills__meter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.meter__items > p {
    color: var(--font-main-color);
}

.meter__items div {
    height: 30px;
    width: 100%;
    background-color: var(--elements-bg-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.meter__items .progress-bar {
    height: 100%;
    background-color: var(--elements-color);
    position: absolute;
    transition: 0.6s;
    border-radius: 5px 0 0 5px;
}

.meter__items div::after {
    content: attr(data-progress);
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: -35px;
    right: 0px;
    color: var(--font-secondary-color);
    font-size: smaller;
    padding: 3px 8px;
}

@media (max-width: 767px) {
    .skills__content {
        grid-template-columns: 1fr;
    }
}
/* End Skills */

/* Start How */
.how__content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
}

.how__image img {
    width: clamp(200px, 100%, 500px);
    height: auto;
}

@media (max-width:767px) {
    .how__content {
        grid-template-columns: 1fr;
    }
}

.how__card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.how__card {
    display: grid;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    align-items: center;
    background-color: var(--elements-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 20px 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.how__card::before {
    content: '';
    width: 0;
    height: 0;
    background-color: #040a1d38;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    z-index: -1;

}

.how__card:hover::before {
    width: 100%;
    height: 100%;

}

.how__card-container .how__card img {
    width: 50px;
    height: auto;
    grid-row: 1/3;
    justify-self: center;

}

.how__card-container .how__card h3 {
    grid-column: 2;
    grid-row: 1;
    padding-bottom: 15px;
    color: var(--font-main-color);

}

.how__card-container .how__card p {
    grid-column: 2;
    grid-row: 2;
    line-height: 1.6;
    color: var(--font-secondary-color);
}

/* End How */

/* Start Events  */
.events{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* z-index: 1; */
}

.events__content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.events__countdown {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.countdown__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    background-color: var(--elements-bg-color);
    gap: 10px;
    border-radius: 5px;
    width: 70px;
    transition: 0.3s;
}

.countdown__card span {
    color: var(--font-main-color);
    font-weight: var(--font-extraBold);
    font-size: 1.5rem;
    padding: 10px;
}

.countdown__card p {
    color: var(--font-main-color);
    border-top: 1px solid #ccc;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    padding: 5px;
    transition: 0.3s;
}

.countdown__card:hover p,
.countdown__card:hover {
    border-color: var(--main-color);
}

.events__text {
    text-align: center;
}

.events__text h2 {
    margin-bottom: 10px;
    color: var(--font-main-color);
    font-weight: var(--font-extraBold);
    font-size: clamp(1rem ,3vw, 2rem);
}

.events__text p {
    line-height: 1.4;
    color: var(--font-secondary-color);
}

.events__subscribe {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 30px;
    padding: 20px;
    width: clamp(300px, 100%, 400px);
    background-color: var(--elements-bg-color);
    z-index: 10;
}

.events__subscribe input[type='email'] {
    outline: none;
    border: none;
    border-radius: 50px;
    height: 45px;
    padding-left: 20px;
    margin-right: 10px;
    caret-color: var(--main-color);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: smaller;
    flex-grow: 1;
}

.events__subscribe input[type='submit'] {
    border-radius: 50px;
    height: 45px;
    width: 80px;
    background-color: var(--elements-color);
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    border: none;
    font-size: smaller;
    cursor: pointer;
    transition: 0.3s;
}

.events__subscribe input[type='submit']:hover {
    background-color: gray;
}

/* End Events  */

/* Start Pricing */
.pricing {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.pricing__dot01 {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.pricing__dot02 {
    position: absolute;
    right: 0;
    top: 100px;
}


.pricing__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 280px));
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
} 

.pricing__card {
    box-shadow: 0px 0px 10px var(--shadow-color);
    transition: 0.4s;
    background-color: var(--elements-bg-color);
    margin-top: 50px;
    z-index: 3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 5px;
}

.pricing__card-header {
    text-align: center;
}

.pricing__card-header h3 {
    padding: 10px;
    font-size: 2rem;
    color: var(--font-main-color);
}

.pricing__card-header img {
    width: 100px;
    height: auto;
    margin: 10px 0;
}

.pricing__card-header p {
    font-weight: var(--font-extraBold);
    font-size: 2.5rem;
    color: var(--font-main-color);
    position: relative;
}

.pricing__card-header p::after {
    content: 'Per Month';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--font-secondary-color);
    font-size: 0.8rem;
    width: 100%;
}

.pricing__card-features {
    width: 100%;
    margin-top: 50px;
}

.pricing__card-features ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 15px 0;
}

.pricing__card-features ul li {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    border-top: 1px solid var(--font-secondary-color);
    color: var(--font-secondary-color);

}

.pricing__card-features ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--font-secondary-color);
}

.pricing__card-btn {
    padding: 10px 10px;
    border: none;
    background-color: var(--elements-color);
    color: var(--font-main-color);
    font-weight: var(--font-bold);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0;
}

.pricing__card-btn:hover {
    background-color: var(--main-color);
}


.pricing__card:nth-of-type(2) {
    transform: translateY(-20px);
    position: relative;
}

.pricing__card:nth-of-type(2)::after {
    content: 'Most Popular';
    position: absolute;
    width: 40px;
    height: 150px;
    background-color: var(--elements-color);
    color: white;
    top: 0px;
    right: 10px;
    writing-mode: vertical-lr;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-bold);
    font-size: 1.1rem;
}

.pricing__card:nth-of-type(2)::before {
    content: '';
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--elements-bg-color) transparent;
    top: 112px;
    right: 10px;
    z-index: 1;
    
}


@media (max-width:767px) {
    

    .pricing__card:nth-of-type(2) {
        transform: translateY(0px);
    }

    .pricing__dot02 {
        top: 200px;
    }
}

/* End Pricing */


/* Start Testimonials */
.testimonial__card__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 40px;
    margin-top: 60px;
    justify-items: center;
}

.testimonial__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: var(--elements-bg-color);
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
    position: relative;
}


.testimonial__card img {
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -45px;
    right: 5px;
    border: 10px solid var(--main-color);
}

.testimonial__card h3 {
    text-transform: capitalize;
    color: var(--font-main-color);
}

.testimonial__card span {
    color: var(--font-secondary-color);
}

.testimonial__card div i {
    color: #ffad00;
}

.testimonial__card p {
    color: var(--font-secondary-color);
}

/* End Testimonials */

/* Start Status */
.status {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.status h2 {
    text-align: center;
    color: var(--font-main-color);

}

.status__content {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 40px;
    gap: 40px;
    justify-content: center;
}

@media (max-width:767px) {
    .status__content {
        grid-template-columns: repeat(2, 150px);
    }
}

.status__card {
    width: 150px;
    background-color: var(--elements-bg-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    padding: 20px 10px;
    border-radius: 5px;
}


.status__card::before,
.status__card::after {
    content: '';
    position: absolute;
    height: 0;
    width: 3px;
    background-color: var(--elements-color);
    left: 0;
    top: 0;
    transition: 0.3s;
    border-radius: 5px;
}

.status__card::before {
    right: 0;
    bottom: 0;
    top: unset;
    left: unset;
}

.status__card:hover::before,
.status__card:hover::after {
    height: 100%;
}

.status__card i {
    font-size: 3em;
    color: var(--font-main-color);
}

.status__card span {
    font-size: 1.5rem;
    padding: 3px 0;
    color: var(--font-secondary-color);
}

.status__card:last-of-type > span {
    position: relative;
    display: block;
    transform: translateX(-4px);
}

.status__card:last-of-type > span::after {
    content: 'K';
    position: absolute;
    right: -14px;
    color: var(--font-secondary-color);
}

.status__card p {
    color: var(--font-main-color);
    font-size: rem;
    font-weight: var(--font-bold);
    font-style: italic;

}
/* End Status */

/* Start Discount */

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.request-discount {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    background-color: rgb(255 255 255 / 5%);
    border-radius: 10px;
    width: 320px;
    border: 1px solid #cccccc4d;
    gap: 5px;
}

.request-discount h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--font-main-color);
}

.request-discount form {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.request-discount form textarea,
.request-discount form input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
    color: var(--main-color);
    caret-color: var(--main-color);
    padding: 5px;
    font-size: 0.6rem;
    border-radius: 3px;
}

.request-discount form button {
    background-color: var(--elements-color);
    color: white;
    border: none;
    padding: 5px 0px;
    font-weight: var(--font-bold);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.request-discount form button:hover {
    background-color:gray;
}
/* End Discount */

/* Start Footer  */
.footer {
    background-color: #191919;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

@media (max-width: 767px) {
    .footer__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid #444343;
}

.footer__logo > h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 2rem;
}

.footer__logo > div {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin-bottom: 10px;
    
}

.footer__social-icon > a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-secondary-color);
    width: 30px;
    height: 30px;
    background-color: #444343;
    font-size: 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}

.footer__social-icon > a:hover {
    background-color: var(--elements-color);
}


.footer__logo p {
    color: var(--font-secondary-color);
    font-size: 0.6rem;
    line-height: 1.6;
}

.footer__card-links {
    padding: 10px;
    border-right: 1px solid #444343;
}

.footer__card-links > h3 {
    color: var(--font-main-color);
    margin: 7px 0;
    font-weight: var(--font-bold);
    font-size: 1.3rem;
}

.footer__card-links ul li {
    padding: 5px 8px 8px 15px;
    border-bottom: 1px solid #444343;
    color: var(--font-secondary-color);
    font-size: 0.6rem;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.footer__card-links ul li:last-of-type {
    border-bottom: none;
}

.footer__card-links ul li::before {
    content: '\f0c1';
    font: var(--fa-font-solid);
    color: var(--font-secondary-color);
    position: absolute;
    left: 0;
    font-size: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.footer__card-address {
    padding: 10px;
}

.footer__card-address > address {
    color: var(--font-main-color);
    margin: 7px 0;
    font-weight: var(--font-bold);
    font-size: 1.3rem;
    font-style:normal ;
}

.footer__card-address > p {
    color: var(--font-secondary-color);
    font-size: 0.6rem;
    margin-bottom: 5px;
}

.footer__card-address ul li {
    padding: 5px 8px 8px 15px;
    color: #ccc;
    font-size: 0.6rem;
    margin-bottom: 10px;
    position: relative;
}

.footer__card-address ul li::before {
    content: 'T';
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer__end {
    color: var(--font-secondary-color);
    background-color: var(--elements-bg-color);
    width: 100%;
    text-align: center;
    border-top: 1px solid #444343;
    padding: 10px 0;
    font-size: 0.6rem;
}

@media (max-width: 767px) {
    .footer__logo {
        grid-column: 1/3;
        border-right: none;
        border-bottom: 1px solid #444343;
    }
}

/* End Footer  */

/* Start animation */

@keyframes left-move {
    50% {
        left: 0px;
        z-index: -1;
        width: 10px;
        height: 10px;
    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 0;
        left: 0px;
        z-index: -1;
    }
}

@keyframes right-move {
    50% {
        right: 0px;
        z-index: -1;
        width: 10px;
        height: 10px;
    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 0;
        right: 0px;
        z-index: -1;
    }
}

@keyframes read-arrow {
    100% {
        transform: translateX(5px);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes arrow-animation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }

    40%, 60% {
        transform: translateY(-10px);
    }
}

@keyframes showUpBtn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showMegaMenu {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* End animation */
